@import "../mixin/mixin.scss";
@import "../variable/variable.scss";

body{
    @include vert;
    justify-content: space-between;
    gap: 100px;
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
    background-position-y: top ;
    object-fit: scale-down;
    overflow-x: hidden;
    height: 100%;
    
}

header{
    @include vert;
    justify-content: start;
    text-align: start;
    width: fit-content;
}

main{
    gap: 40px;
    padding: 0px 10px 0px 10px;
}

.main{
    @include horizon;
    justify-content: space-between;
    width: 100%;
}

.img{
    margin-left: 30px;
    height: 250px;
}

.txtintro{
    width: 70%;
    margin-right: 0;

    h2{
        font-size: 20px;
    }
}


.aside1{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    animation-name: none;
    animation-duration: 1s;
    animation-delay: 0ms;
    animation-fill-mode: both;
}

@keyframes asideanim {
    from{
        transform: translateX(300px);
        display: flex;
        
    }
}

.list2{
    display: flex;
    flex-direction: row;
    height: min-content;
    width: 100%;
    padding: 0 auto 0 auto;

}

.ctnskill{
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 30px;
    text-align: center;
}

.jsp{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    width: 45%;

    a{
        height: 200px;
        width: 40%;
        object-fit: fill;
        margin-left: 150px;
    }
}

.sklist{
    @include horizon;
    justify-content: space-between;
    height: 30px; 
    width: 100%;
    text-align: start; 
    margin-left: 60px;
    
    p{
        margin-top: 0;
    }

    div{
        height: 30px;
        width: 40%;
    }
}

.list1{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0 0 0 0;
    gap: 30px;

}

.jsp2{
    @include horizon;
    width: 90%
}

.plist{
    @include vert;
    width: 100%;
    text-align: start; 
    margin-left: 80px;
    margin-top: 25px;
    transform: rotateY(80deg);
    transform-style: preserve-3d;
}

.plist0{
    @include vert;
    text-align: start; 
    margin-left: 80px;
    margin-top: 25px;


    p{
        font-size: 20px;
        margin-top: 0;
    }

    section{
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 10px;
    }
}

#plist2{
    width: 75%;
    transform: rotateY(0deg)
}

#plist1{
    width: 25%
}

#plist3{
    width: 25%
}

.btnctn{
    @include horizon;
    justify-content: center;
    width: 100%;
}

.btnp{
    cursor: pointer;
    height: 10px;
    border-radius: 50px;
}




.aside2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 0;
}

.anim{
    border: 0;
    cursor: pointer;
    background-image: url(https://gifdb.com/images/high/paper-texture-background-vgw63oolfy0h7yr0.gif);
    border-radius: 90px;
    animation-name: arrow1;
    animation-duration: 0.9s;
    animation-iteration-count: infinite ;
    animation-fill-mode: none;
}

@keyframes arrow1 {
    from{
        transform: translateX(10px);
    }
    
    to{
        transform: translateX(0px);
    }
}

@keyframes arrow2 {
    from{
        transform: translateX(0);
    }
    
    to{
        transform: translateX(2000px);
        display: none;
    }
}

.close{
    border: 0;
    background-color: aqua;
    cursor: pointer;
}

footer{
    justify-content: end;
    text-align: left;
    border: solid black;
    border-radius: 20px 20px 0px 0px;
    height: 80px;
    padding: 0px 5px 35px 5px;
}

.footerlist{
    @include horizon;
    gap:30px;
    justify-content: end;
    height: 50%;
}