@import "../mixin/mixin.scss";
@import "../variable/variable.scss";

.lonestar{
    color: grey;
}

.fa-solid{
    color: gold;
    font-size: 25px;
}

.fa-caret-right{
    height: 60px;
}

.fa-caret-right:hover{
    height: 100px;
}

.imgskill{
    height: 80px;
    object-fit: cover;
    margin-top: -20px;
}

.imgp{
    margin-left: -30px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 10px 10px 10px; 
  
}

.decoskill{
    height: 200px;
    width: 30%;
    object-fit: fill;
}

.linkedin{
    height: 40px;
    margin-top: 10px;
}