/*colors*/
$bgcolor1: white;

$bgcolor2: linear-gradient(rgb(219, 180, 229),rgb(162, 181, 223));

$bgcolor4: linear-gradient(rgb(212, 249, 208), rgb(222, 232, 253));

$bgcolor3: conic-gradient(rgb(211, 221, 241),rgb(212, 249, 208));

$fontcolor: black;

$fontfam : 'roboto';

$iconrcolor: rgb(191, 237, 180);

/*marges*/
$margesg: auto 0 auto auto;

$margesd: auto auto auto 0;

$margescentre: 0 auto 0 auto;

$gapectn: 30px;